.typography {
    /*Reset*/
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 0;

    /*Screen size 320(type scale 1.2) - 1920(type scale 1.25)*/

    /*Min: 11.63px		Max: 20.93px*/
    --size-text-s: clamp(0.7268rem, 0.6834rem + 0.2169vw, 0.9437rem);
    /*Min: 13.95px		Max: 25.12px*/
    --size-text-m: clamp(0.8721rem, 0.8106rem + 0.3075vw, 1.1796rem);
    /*Min: 16.74px		Max: 30.14px*/
    --size-text-l: clamp(1.0466rem, 0.961rem + 0.428vw, 1.4746rem);
    /*Min: 20.09px		Max: 36.17px*/
    --size-h6: clamp(1.2559rem, 1.1384rem + 0.5873vw, 1.8432rem);
    /*Min: 24.11px		Max: 43.4px*/
    --size-h5: clamp(1.507rem, 1.3476rem + 0.797vw, 2.304rem);
    /*Min: 28.94px		Max: 52.08px*/
    --size-h4: clamp(1.8084rem, 1.5941rem + 1.0716vw, 2.88rem);
    /*Min: 34.72px		Max: 62.5px*/
    --size-h3: clamp(2.1701rem, 1.8842rem + 1.4299vw, 3.6rem);
    /*Min: 41.67px		Max: 75px*/
    --size-h2: clamp(2.6042rem, 2.225rem + 1.8958vw, 4.5rem);
    /*Min: 50px	Max: 90px*/
    --size-h1: clamp(3.125rem, 2.625rem + 2.5vw, 5.625rem);

}

.h1 {
    font-size: var(--size-h1);
}

.h2 {
    font-size: var(--size-h2);
}

.h3 {
    font-size: var(--size-h3);
}

.h4 {
    font-size: var(--size-h4);
}

.h5 {
    font-size: var(--size-h5);
}

.h6 {
    font-size: var(--size-h6);
}

.headingSnapping {
    scroll-snap-type: y proximity;
}

.textL {
    font-size: var(--size-text-l);
}

.textM {
    font-size: var(--size-text-m);
}

.textS {
    font-size: var(--size-text-s);
}
